<div>
    <h2>Contenido del Destino Component</h2>
    <h3>ID UU</h3>
    <p>ID de Cotización: {{ Solicitud.id_solicitud}}</p>
    <h3>SOLICITANTE</h3>
    <p>Nombre completo: {{ Solicitante.nombrecompleto}}</p>
    <p>Nro documento: {{ Solicitante.ndocumento}}</p>
    <p>Rol: {{ Rol.descripcion}}</p>
    <p>Correo: {{ Solicitante.correo}}</p>
    <h3>PREDIO</h3>
    <p>Nombre : {{ Predio.descripcion}}</p>
    <p>Direccion : {{ Predio.direccion}}</p>
    <p>Tipo Predio : {{ TipoPredio.nombre}}</p>
    <p>RUC : {{ Predio.ruc}}</p>
    <h3>SERVICIOS</h3>
    <p>Cantidad de administracion : {{ Solicitud.cant_administracion}}</p>
    <p>Cantidad de personal de limpieza : {{ Solicitud.cant_plimpieza}}</p>
    <p>Cantidad de jardineros : {{ Solicitud.cant_jardineria}}</p>
    <p>Cantidad de vigilantes : {{ Solicitud.cant_vigilantes}}</p>
    <h3>COTIZACION</h3>
    <p>Importe por administrador : {{ importe_administrador}}</p>
    <p>Importe por personal de limpieza : {{ importe_personallimp}}</p>
    <p>Importe por jardineros : {{ importe_jardineros}}</p>
    <p>Importe por vigilantes: {{ importe_vigilantes}}</p>
    <p>Importe por TOTAL : {{ importe_total}}</p>

</div>

